AFFIDAVIT

I, {{name}}, aged {{age}} years, residing at {{address}}, do hereby solemnly affirm:

1. That I am the deponent herein.
2. That the contents of this affidavit are true to my knowledge.
3. That this affidavit is made for the purpose of {{purpose}}.

Verified at {{city}} on {{date}}.

Deponent Signature: __________