To,
The Station House Officer
{{police_station}}

Subject: Complaint regarding {{incident_type}}

Respected Sir/Madam,

I, {{complainant_name}}, residing at {{address}}, wish to lodge a complaint regarding the following incident:

Date of Incident: {{incident_date}}
Time: {{incident_time}}
Location: {{incident_location}}

Details:
{{incident_details}}

I request you to kindly register my complaint and take necessary legal action.

Yours faithfully,

{{complainant_name}}
Contact: {{phone}}
Date: {{date}}
Place: {{city}}