GENERAL POWER OF ATTORNEY

I, {{principal_name}}, residing at {{principal_address}}, hereby appoint {{agent_name}}, residing at {{agent_address}}, as my lawful attorney.

The attorney is authorized to:
1. Manage property matters
2. Sign documents
3. Represent before authorities
4. Perform lawful acts on my behalf

Executed at {{city}} on {{date}}.

Principal Signature: __________
Attorney Signature: __________
Witness 1: __________
Witness 2: __________